@import url("../../utilities/common.css");

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: var(--modal-padding); 
  border-radius: var(--button-padding); 
  box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.1);
}

.modal-form {
  margin-top: var(--modal-margin-top); 
}

.modal-buttons {
  margin-top: var(--modal-button-margin-top); 
  display: flex;
  justify-content: flex-end;
  
}

.modal-buttons > button {
  margin-left: var(--modal-button-margin-left); 
}
