.password-reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .password-reset-paper {
    padding: 1.25rem;
    width: 25rem;
  }
  
  .password-reset-title {
    text-align: center;
    margin-bottom: 1.25rem;
  }
  
  .password-reset-form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
  
  .submit-button {
    width: 100%;
    margin-top: 1.25rem;
  }
  