@import url("../../App.css");

body .custom-appbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgb(16,25,13);
  box-shadow: 0 .0625rem .25rem rgba(146,161,176,.15);
}

.header-link {
  text-decoration: none;
  font-weight: 700;
  color: rgb(233,83,75);
   display: flex;
  align-items: center; 
}

.header-link .MuiSvgIcon-root {
  margin-right: var(--spacing-xs); 
}
