.dashboard {
  display: grid;
  place-items: center;
  height: 100vh;
  position: relative;
}

.dashboard-card {
  font-family: sans-serif;
  width: 90vw;
  height: 80vh;
  margin: 3.75rem auto;
  margin-top: 3rem;
  display: flex;
  position: fixed;
  left: 5rem;
  background-color: #fefaf5;
  border-radius: .9375rem;
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

/* Sidebar */

.dashboard-options {
  background-color: rgb(24, 33, 62);
  color: wheat;
  width: 13.75rem;
  border-top-left-radius: .9375rem;
  border-bottom-left-radius: .9375rem;
}


.dashboard-logo {
  margin-top: 3.125rem;
  margin-bottom: 3.125rem !important;
  color: rgb(234, 68, 74);
  font-size: 1.875rem;
  font-weight: 800;
  text-align: center;
}

.dashboard-option {
  text-decoration: none;
  padding: .0625rem;
  border-bottom: .0313rem solid salmon;
  border-top: .0625rem solid rgb(234, 68, 74, 0.5);
  color: #ffff;
  font-weight: 700;
  text-align: left;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar-link {
  text-decoration: none;
}


.dashboard-option:hover {
  color: rgb(234, 68, 74);
  border-left: .3125rem solid rgb(234, 68, 74);
  transition: all 0.5s ease;
  background-color: #ddd;
}

.dashboard-option.clicked {
  color: rgb(234, 68, 74);
  border-left: .3125rem solid rgb(234, 68, 74);
  transition: all 0.5s ease;
  background-color: #ddd;
}

/* Content of each option in Sidebar */


.dashboard-option-icon {
  margin-left: .9375rem;
  margin-right: .9375rem;
}

.book-lending-submenu {
  display: none;
}

.book-lending-option:hover .book-lending-submenu {
  display: block;
}

.book-lending-submenu p {
  padding: .625rem;
}