@import url("../../App.css");
.card-container {
  margin: var(--spacing-sm) var(--spacing-xs);
padding: var(--spacing-xs);
overflow: hidden;
width: 100%;
min-width: calc(var(--spacing-xl)*21.5);
border-radius: var(--spacing-sm);
box-shadow: 0rem .0625rem .125rem rgba(0, 0, 0, 0.1);
background-color: #fff;
position: relative;
margin-bottom: var(--margin);
}
.card-action {
  position: absolute;
  top: var(--spacing-sm);
  right: var(--spacing-sm);
  
}
.card-content {
  display: flex;
  align-items: center;
  overflow: auto;
}

.card-image {
  flex: 0 0 auto;
  margin-right: var(--spacing-xl);
}

.card-image img {
  width: calc(var(--spacing-xl)*2);
  height: calc(var(--spacing-xl)*2);
  object-fit: cover;
  border-radius: 50%;
}

.card-details {
  flex: 1;
}

.card-details .card-name-item,
.card-details .card-text-item {
  text-transform: capitalize;
  font-size: var(--font-size-sm);
  margin-bottom: 0.1rem;
}

.card-details .card-name-item {
  font-size: var(--spacing-md);
  font-weight: bold;
  color: #007bff; 
}

.card-text-item {
  color: #333; 
}

/* @media (max-width: 1085px) {
  .card-container {
    width: 100%; 
  }
}

@media (max-width: 768px) {
  .card-details .card-name-item,
.card-details .card-text-item {
  font-size: calc(var(--font-size-xs)*3);
}
}

@media (max-width: 600px) {
  .page-form-container {
    flex-direction: column;
  }

  .autocomplete {
    width: 100%;
    margin: var(--spacing-xs);
  }

  .issue-book-button {
    position: static;
    margin-top: var(--spacing-xs);
    width: 100%;
  }
} */


